/* Default Variables */
$primary-color: #C4C4C4 !default;
$radius-1: 20px !default;
$radius-2: 40px !default;
$radius-3: 60px !default;
$radius-4: 80px !default;
$radius-5: 100px !default;

/* Fixed Variables */
$text-color: #8D8D90;
$white-color:#ffffff;
$product-background-color: #04043F;
$black-color: #000000;
$dashboard-bgcolor: #111828;
$error-color: #d32f2f !default;
$warning-color: #FF6600 !default;
$yellow: #ffc902 !default;
$button-background-color: #0C7737;
$info-color: #64B9E6;
$box-shadow : 2px 2px 5px rgba(0, 0, 0, 0.2);;
$web-kit-shadow : 2px 2px 5px rgba(0, 0, 0, 0.2);
$card-background: #323949;
$textField-background: #bdbdd3;
$divider-color: #4d4c4c;
$border-color: #555860;
$sideNav-bgcolor: #F3F9F9;
$hover-color: #C3F8EE;
$hover-text-color: #0ACC63;
$hover-table-row: #f0fae7;
$border-dashed-color: #394646;
$notification-bar: #EEEDED;
$duration-posted-text: #6f706f;
