@import "../../assets/stylesheet/breakpoints";

.create-alarm {
  width: 300px;

  @include breakpoints('md') {
    width: 350px;
  }

  @include breakpoints('sm') {
    width: 350px;
  }

  @include breakpoints('xs') {
    width: 250px;
  }
}